body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

img {
    width: 960px;
    height: 320px;
}

canvas {
    background: #f9f9f9;
}

#editor {
    width: 800px;
    height: 640px;
}

.tileset-img-selection {
    position:absolute;
    outline: 3px solid cyan;
    left:0;
    top:0;
    width: 32px;
    height:32px;
}

.tileset-container {
    position: relative;
}